{% extends 'hotels/base.html' %}
{% load widget_tweaks %}

{% block content %}
<div class="mt-6">
    <form action="#" method="POST" class="space-y-6">
    {% csrf_token %}
    {% for field in form %}
        <div>
            {{ field.label_tag }}
            {% if form.is_bound %}
                {% if field.errors %}
                    {% render_field field autocomplete="off" class="form-fields is-invalid" %}
                    {% for error in field.errors %}
                        <div class="text-red-600">
                        {{ error }}
                        </div>
                    {% endfor %}
                {% else %}
                    {% render_field field autocomplete="off" class="form-fields" %}
                {% endif %}
            {% else %}
                {% render_field field autocomplete="off" class="form-fields" %}
            {% endif %}
        </div>
    {% endfor %}
    <div>
    {% if user.is_authenticated and user.is_staff %}
        <button type="submit" class="w-full flex justify-center py-2 px-4 border border-transparent rounded-md shadow-sm text-sm font-medium text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
            Add
        </button>
    {% endif %}
    </div>
    </form>
</div>

{% endblock content %}